@page "/component"

<h1>Component</h1>


<ChildComponent Title="Panel Title from Parent">
  Child content of the child component is supplied by the parent component.
</ChildComponent>

<ChildComponent Title="Panel Title from Parent2">
  Child content of the child component is supplied by the parent component2.
</ChildComponent>
